<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>Solar Energy Management</title>
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div align="left">
                <h1>Distributor List</h1>
                <a href = "/newDistributor">Create New Distributor</a>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>DSSN</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact No</th>
                        <th>DOB</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="distributor : ${distributorList}">
                            <td th:text="${distributor.dssn}">DSSN</td>
                            <td th:text="${distributor.name}">Name</td>
                            <td th:text="${distributor.address}">Address</td>
                            <td th:text="${distributor.contact_no}">Contact No</td>
                            <td th:text="${distributor.dob}">DOB</td>
                            <td>
                                <a th:href="@{'/editDistributor/'+ ${distributor.dssn}}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Edit</i></a>
                                &nbsp;&nbsp;&nbsp;
                                <a th:href="@{'/deleteDistributor/'+ ${distributor.dssn}}" class="btn btn-primary">Delete<i class="fas fa-user-times ml-2"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div align="left">
                <h1>Customer List</h1>
                <a href = "/newCustomer">Create New Customer</a>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th>CSSN</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact No</th>
                        <th>DOB</th>
                        <th>DSSN</TH>
                        <th>AreaCode</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customerList}">
                        <td th:text="${customer.cssn}">CSSN</td>
                        <td th:text="${customer.name}">Name</td>
                        <td th:text="${customer.address}">Address</td>
                        <td th:text="${customer.contact_no}">Contact No</td>
                        <td th:text="${customer.dob}">DOB</td>
                        <td th:text="${customer.distributor.dssn}">DSSN</td>
                        <td th:text="${customer.areacode}">AreaCode</td>
                        <td>
                            <a th:href="@{'/editCustomer/'+ ${customer.cssn}}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Edit</i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/deleteCustomer/'+ ${customer.cssn}}" class="btn btn-primary">Delete<i class="fas fa-user-times ml-2"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>